@using Nop.Plugin.Widgets.NewProduct.Controllers;
@using Nop.Plugin.Widgets.NewProduct.Resources;
<li>
    @Html.ActionLink(T(NewProductResources.ListCaption).Text,
    NewProductController.ControllerName,
    null,
    null)
</li>
